#mainmenu {
	background-color: #fff;
	border: 0;
	margin-bottom: 0;
	.dropdown-menu { left:0; }
	.navbar-brand {
		height: auto;
		padding: 0;
		.icode-logo {
			max-width: 200px;
		}
	}
	.navbar-nav {
		>li {
			>a {
				padding: 22px 15px;

				&:hover {
					background-color: #f6f6f6;
					color: $blue;
				}
			}

			&.active {
				> a {
					color: $blue;
				}
			}
		}
	}
}