///////////////
// Variables //
///////////////

// Screen sizes
$screen-xs: 568px;
$screen-sm-landscape: 728px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg-portrait: 1024px;
$screen-lg: 1240px;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Fonts
$font-base:			Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-primary:		'Montserrat', $font-base;
$font-opensans:		'Open Sans', $font-base;
$font-sourcesans:	'Source Sans Pro', $font-base;

// Micro clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Image replacement technique
// http://nicolasgallagher.com/another-css-image-replacement-technique/
.ir {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

$pink: #F05F40;
$blue: #06a7f7;
$light-blue: #3ec5f7;
$yellow: #ffcc00;
$white: #fff;
